{% extends "base.html" %}
{% block header %}<span class="icon icon-gamepad-2" aria-hidden="true"></span> {{ t('tile.games.name') }}{% endblock %}
{% block content %}
<a class="back-link" href="/"><span class="icon icon-arrow-left" aria-hidden="true"></span> {{ t('back_link') }}</a>

<div class="tile-grid">
  <a class="tile" href="/games/sudoku">
    <span class="tile-icon-badge"><span class="icon icon-grid-3x3" aria-hidden="true"></span></span>
    <span class="tile-name">{{ t('games.index.sudoku.name') }}</span>
    <span class="tile-desc">{{ t('games.index.sudoku.desc') }}</span>
  </a>

  <a class="tile" href="/games/dice">
    <span class="tile-icon-badge"><span class="icon icon-dice-5" aria-hidden="true"></span></span>
    <span class="tile-name">{{ t('games.index.dice.name') }}</span>
    <span class="tile-desc">{{ t('games.index.dice.desc') }}</span>
  </a>

  <a class="tile" href="/games/tictactoe">
    <span class="tile-icon-badge"><span class="icon icon-hash" aria-hidden="true"></span></span>
    <span class="tile-name">{{ t('games.index.tictactoe.name') }}</span>
    <span class="tile-desc">{{ t('games.index.tictactoe.desc') }}</span>
  </a>
</div>
{% endblock %}
