{% extends "base.html" %}
{% block header_icon %}<span class="mark"><span class="icon icon-gamepad-2" aria-hidden="true"></span></span>{% endblock %}
{% block header_title %}{{ t('tile.games.name') }}{% endblock %}
{% block content %}
<a class="back-link" href="/"><span class="icon icon-arrow-left" aria-hidden="true"></span> {{ t('back_link') }}</a>

<div class="list">
  <a class="row" href="/games/sudoku">
    <div class="icon-chip violet"><span class="icon icon-grid-3x3" aria-hidden="true"></span></div>
    <div class="body">
      <div class="title">{{ t('games.index.sudoku.name') }}</div>
      <div class="desc">{{ t('games.index.sudoku.desc') }}</div>
    </div>
    <div class="chev"><span class="icon icon-chevron-right" aria-hidden="true"></span></div>
  </a>
  <a class="row" href="/games/dice">
    <div class="icon-chip violet"><span class="icon icon-dice-5" aria-hidden="true"></span></div>
    <div class="body">
      <div class="title">{{ t('games.index.dice.name') }}</div>
      <div class="desc">{{ t('games.index.dice.desc') }}</div>
    </div>
    <div class="chev"><span class="icon icon-chevron-right" aria-hidden="true"></span></div>
  </a>
  <a class="row" href="/games/tictactoe">
    <div class="icon-chip violet"><span class="icon icon-hash" aria-hidden="true"></span></div>
    <div class="body">
      <div class="title">{{ t('games.index.tictactoe.name') }}</div>
      <div class="desc">{{ t('games.index.tictactoe.desc') }}</div>
    </div>
    <div class="chev"><span class="icon icon-chevron-right" aria-hidden="true"></span></div>
  </a>
</div>
{% endblock %}
