{% extends "base.html" %}
{% block header_icon %}<span class="mark"><span class="icon icon-list-checks" aria-hidden="true"></span></span>{% endblock %}
{% block header_title %}{{ t('tile.lists.name') }}{% endblock %}
{% block content %}
<a class="back-link" href="/"><span class="icon icon-arrow-left" aria-hidden="true"></span> {{ t('back_link') }}</a>

<div class="list">
  <a class="row" href="/lists/shopping">
    <div class="icon-chip amber"><span class="icon icon-shopping-cart" aria-hidden="true"></span></div>
    <div class="body">
      <div class="title">{{ t('tile.shopping.name') }}</div>
      <div class="desc">{{ t('tile.shopping.desc') }}</div>
    </div>
    <div class="chev"><span class="icon icon-chevron-right" aria-hidden="true"></span></div>
  </a>
  <a class="row" href="/lists/todo">
    <div class="icon-chip amber"><span class="icon icon-list-todo" aria-hidden="true"></span></div>
    <div class="body">
      <div class="title">{{ t('lists.index.todo.name') }}</div>
      <div class="desc">{{ t('lists.index.todo.desc') }}</div>
    </div>
    <div class="chev"><span class="icon icon-chevron-right" aria-hidden="true"></span></div>
  </a>
  <a class="row" href="/lists/task">
    <div class="icon-chip amber"><span class="icon icon-clipboard-list" aria-hidden="true"></span></div>
    <div class="body">
      <div class="title">{{ t('lists.index.task.name') }}</div>
      <div class="desc">{{ t('lists.index.task.desc') }}</div>
    </div>
    <div class="chev"><span class="icon icon-chevron-right" aria-hidden="true"></span></div>
  </a>
</div>
{% endblock %}
