{% extends "base.html" %}
{% block header %}<span class="icon icon-server" aria-hidden="true"></span> {{ t('tile.system.name') }}{% endblock %}
{% block content %}
<a class="back-link" href="/"><span class="icon icon-arrow-left" aria-hidden="true"></span> {{ t('back_link') }}</a>

<form method="post" action="/ui/system" class="card">
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
  <div class="hint">
    {{ t('system.hint') }}
  </div>
  <button type="submit">{{ t('system.button') }}</button>
</form>
{% endblock %}
